<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CMS Blog</title>
  {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">

      <nav>
      <h2>
        <a href="/">Home</a>
      </h2>
      <h2>
        <a href="/">Dashboard</a>
      </h2>
      <h2>
        <a href="/">Login</a>
      </h2>
      </nav>
      <h1>Another Tech Blog</h1>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

</body>

</html>