<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{contents}}</p>
  <p>Created by {{user.username}} on {{date_created}}</p>

  <p>
    <button class="btn btn-primary">Comment</button>
  </p>
</div>